<form [formGroup]="form">

  <div fxLayout="row">

    <div fxFlex="40%" fxFlex.md="60%" fxFlex.sm="50%" fxFlex.xs="100%">

      <mat-form-field class="full-width">
        <input matInput placeholder="First Name" formControlName="firstName">
        <mat-icon matSuffix></mat-icon>

        <mat-error *ngIf="form.controls['firstName'].hasError('required')">
          Please enter your first name
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Last Name" formControlName="lastName">
        <mat-icon matSuffix></mat-icon>

        <mat-error *ngIf="form.controls['lastName'].hasError('required')">
          Please enter your last name
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Display Name" formControlName="displayName">
        <mat-icon matSuffix></mat-icon>

        <mat-error *ngIf="form.controls['displayName'].hasError('required')">
          Please enter your display name
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="your expertise" formControlName="expertise">
        <mat-icon matSuffix></mat-icon>

        <!-- <mat-error *ngIf="form.controls['expertise'].hasError('required')">
          Enter expertise
        </mat-error> -->
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="your certificates" formControlName="certificates">
        <mat-icon matSuffix></mat-icon>

        <!-- <mat-error *ngIf="form.controls['certificates'].hasError('required')">
          Enter your certificates
        </mat-error> -->
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Your website" formControlName="website">
        <mat-icon matSuffix></mat-icon>

        <!-- <mat-error *ngIf="form.controls['website'].hasError('required')">
          Enter your website
        </mat-error> -->
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="form.invalid || disableSubmit" (click)="saveProfile()">Save</button>

    </div>
  </div>
  
</form>
<p>{{form.value | json}}</p>
