<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">

    <mat-card>
        <mat-card-content>
          <h2 (click)="createNewMember ()">Members</h2>

          <table mat-table [dataSource]="dataSource" matSort>
  

            <ng-container matColumnDef="displayname">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Display Name </th>
              <td mat-cell *matCellDef="let element"> {{element.displayName}} </td>
            </ng-container>
          

            <ng-container matColumnDef="fullname">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
              <td mat-cell *matCellDef="let element"> {{element.firstName + ' ' + element.lastName}}</td>
            </ng-container>
          

            <ng-container matColumnDef="expertise">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Expertise </th>
              <td mat-cell *matCellDef="let element"> {{element.expertise}} </td>
            </ng-container>
          

            <ng-container matColumnDef="certificates">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Certificates </th>
              <td mat-cell *matCellDef="let element"> {{element.certificates}} </td>
            </ng-container>

  
            <ng-container matColumnDef="website">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Website </th>
              <td mat-cell *matCellDef="let element"> {{element.website}} </td>
            </ng-container>

         
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
        </mat-card-content>
      </mat-card>

  </div>
</div>